
<div class="row">
  <div class="col">
    player 1
  </div>
  <div class="col">
    player 2
  </div>
  <div class="col">
    player 3
  </div>
</div>

<div class="row">
  <div class="col">
    player 4
  </div>
  <div class="col">
    player 5
  </div>
  <div class="col">
    player 6
  </div>
</div>

<div class="row">
  <div class="col">
    player 7
  </div>
  <div class="col">
    player 8
  </div>
  <div class="col">
    player 9
  </div>
</div>

<div class="row">
  <div class="col">
    player 10
  </div>
  <div class="col">
    player 11
  </div>
  <div class="col">
    player 12
  </div>
</div>

<div class="row">
  <div class="col">
    player 13
  </div>
  <div class="col">
    player 14
  </div>
  <div class="col">
    player 15
  </div>
</div>